@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body,
html {
    font-family: 'Oswald', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #15161B;
}

header {
    display: flex;
    justify-content: center;
}

.logo h2 {
    color: #fff;
    font-size: 3rem;
}

span {
    color: #1A7993;
}

.main {
    margin: auto;
    max-width: 1200px;
}

/* AREA 1 */
.section-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 108px;
    padding: 0 10px;
}

.area-title h3 {
    color: #fff;
    font-weight: normal;
    font-size: 1.8rem;
}

.area-title h1 {
    color: #fff;
    font-size: 4.3rem;
    line-height: 50px;
}

figure {
    margin: 0;
}

.image-1 > .img-1 {
    border-radius: 12px;
    height: 279px;
    margin: 0;
}

/* BUTTON */
.button {
    margin: 0 0 43px 0;
    text-decoration: none;
    padding: 1.3em 3em;
    font-size: 1.3rem;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.button:hover {
    background-color: #1A7993;
    box-shadow: 0px 15px 20px #0e3d4a;
    color: #fff;
}

/* AREA CARDS */

.section-cards h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2.8rem;
    text-align: center;
    padding: 10px;
}

.section-cards {
    margin: 80px 0 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 50px;
    padding: 12px;
}

.card {
    background-color: #2C2F37;
    color: white;
    width: 200px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s all;
    font-size: 1.6rem;
}

.card:hover {
    background-color: #1A7993;
    box-shadow: 0px 15px 20px #0e3d4a;
}

/* AREA FAIXA */
.section-3 {
    background-color: #1A7993;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.image-2 img {
    margin-left: 100px;
    width: 320px;
    transition: 1s;
    box-shadow: 5px 5px 20px #223b42,
        -5px -5px 20px #223b42;
}

.image-2 img:hover {
    box-shadow: 10px 10px 51px #223b42,
        -10px -10px 51px #223b42;
    transform: scale(0.98);
}

.area-title-2 h1 {
    color: white;
    font-size: 3.5rem;
}

.area-title-2 h3 {
    color: white;
    font-size: 2rem;
    font-weight: normal;
}

.area-title-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.area-title-2 a {
    text-align: center;
}

/* BUTTON 2 */

.button-2 {
    text-decoration: none;
    padding: 1.3em 3em;
    margin-top: 10px;
    font-size: 1.5rem;
    letter-spacing: 2.5px;
    font-weight: bolder;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-2:hover {
    background-color: #2C2F37;
    box-shadow: 0px 15px 20px #0a1214;
    color: #fff;
}

/* AREA FORMULÃRIO */
.area-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
}

.area-form h2 {
    color: white;
    font-size: 2.7rem;
    text-align: center;
}

.input-group {
    position: relative;
}

.input {
    border: solid 1.5px #ffffff;
    border-radius: 1rem;
    background: none;
    padding: 1.6rem;
    font-size: 1.6rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 15px;
    margin-bottom: 30px;
    padding-right: 83px;
}

.user-label {
    font-size: 1.6rem;
    margin-top: 18px;
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
    color: black;
    outline: none;
    border: 1.5px solid #1A7993;
}

.input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: #15161B;
    padding: 0 .2em;
    color: #ffffff;
}

/* BUTTON */

.button-3 {
    padding: 0.9em 92px;
    border: none;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 1rem;
}

.button-3::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2C2F37;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.button-3::before {
    content: "";
    background: linear-gradient(45deg,
            #FF0000, #002BFF, #FF00C8, #002BFF,
            #FF0000, #002BFF, #FF00C8, #002BFF);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-3:hover::before {
    opacity: 1;
    transform: scale(0.98);
}

.button-3:active:after {
    background: transparent;
}

.button-3:active {
    color: #000;
    font-weight: bold;
}

/* AREA SOCIAL */

.social {
    text-align: center;
    margin-bottom: 100px;
}

.social h3 {
    color: white;
    font-weight: normal;
    font-size: 1.8rem;
}

.social img {
    width: 37px;
    margin-left: 20px;
    color: white;
    transition: 0.7s;
}

.social img:hover {
    transform: scale(1.1);
}

/* RESPONSIVIDADE */
@media screen and (max-width: 990px) {

    .section-1 {
        flex-direction: column;
    }

    .area-title {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .section-3 {
        text-align: center;
    }

    .image-2 > img {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    .image-1 .img-1 {
        max-width: 100%;
        height: auto;
    }

    .area-title-2 {
        align-items: center;
    }

    .button-2 {
        width: 140px;
    }

    .input {
      font-size: 1.2rem;
      padding: 1.8rem;
    }

    .button-3 {
        padding: 1.6em 3.7em;
        font-size: 1.2rem;
      }
}